html { scroll-behavior: smooth; }

body {
    width: 100%;
    margin: auto;
    line-height: normal;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.werpol-section {
    height: 100vh;
    width: 100%;
    max-width: 1440px;
}

.werpol-menu {
    max-width: 100%;
    height: 80px;
    text-align: center;
    font-size: 24px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.75), rgba(49, 39, 131, 0.75));
    display: flex;
    align-items: center;
    position:fixed;
    padding: 0 30px;
    top:0;
    left:0;
    height: 100px;
    z-index: 70;
    width: calc(100% - 60px);
}

.fp-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fp-slide {
    display: flex;
    align-items: center;
}

.werpol-menu-item {
    font-weight: 900;
    cursor: pointer;
    margin: 0 15px;
    height: 100%;
    display: flex;
    align-items: center;
}

.werpol-menu-item a {
    text-decoration: none;
    color: white !important;
}

.werpol-menu-logo {
    display: flex;
    margin-right: auto;
}

.werpol-carousel-container {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10rem;
}

.werpol-carousel {
    border-radius: 30px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.75), rgba(49, 39, 131, 0.75));
    max-width: 70vw;
    max-height: 455px;
    min-width: 30vw;
    padding: 3rem;
    -webkit-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    -moz-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
}

.werpol-carousel-slide {
    font-weight: 500;
    font-size: 48px;
}

.werpol-carousel-slide-description {
    font-size: 38px;
}

.werpol-header {
    max-width: 100% !important;
}

.werpol-about-container {
    display: flex;
    align-items: center;
    height: 100%;
    align-items: center;
    padding: 0 3rem;
}

.werpol-about {
    border-radius: 30px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgba(49, 39, 131, 0.9));
    font-size: 24px;
    font-weight: 500;
    text-align: right;
    padding: 5rem;
    -webkit-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    -moz-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
}

.werpol-about-logo {
    height: 100%;
    width: 100%;
    max-width: 100%;
    min-width: 10%;
    overflow: hidden;
    min-height: 100%;
    object-fit: contain;
    margin-right: 5rem;
}

.werpol-about-text {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}

.werpol-offer {
    display: flex;
    align-items: center;
}

.werpol-offer-container {
    margin: 3rem;
}

.werpol-offer-title {
    font-size: 30px;
    color: #312783;
    font-weight: bold;
    text-align: left;
}

.werpol-offer-description {
    font-size: 24px;
    font-weight: 500;
    color: #1b1918;
    text-align: left;
    margin-top: 25px;
}

.werpol-offer-button-list {
    display: flex;
    gap: 46px;
}

.werpol-offer-button {
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgba(49, 39, 131, 0.9));
    width: 232px;
    height: 83px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    -moz-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
}

.werpol-offer-button-text {
    text-align: left;
    font-size: 18px;
    color: #fff;
    font-family: Montserrat;
    padding: 20px 46px;
}

.werpol-offer-tile-list {
    margin-top: 150px;
    display: flex;
    gap: 56px;
}

.werpol-offer-tile {
    border-radius: 30px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgba(49, 39, 131, 0.9));
    min-width: 390px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    -webkit-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    -moz-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
}

.werpol-offer-tile-title {
    font-size: 25px;
    font-weight: 500;
    text-align: left;
    font-family: Montserrat;
    margin: 30px;
    text-align: center;
}

.werpol-offer-tile-description {
    text-align: left;
    font-size: 18px;
    margin: 30px;
}

.werpol-offer-tile-button {
    border-radius: 20px;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.5), rgba(49, 39, 131, 0.5));
    width: 232px;
    height: 83px;
    border: 0;
    margin-bottom: 40px;
    cursor: pointer;
}

.werpol-offer-tile-button-text {
    text-align: left;
    font-size: 18px;
    color: #fff;
    font-family: Montserrat;
    padding: 30px 40px;
}

.werpol-equipment {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.werpol-equipment-title {
    padding: 3rem;
    font-size: 30px;
    color: #312783;
    text-align: left;
}

.werpol-equipment-tile-background {
    background-image: url('/B6DEB182.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    min-width: 1440px;
}

.werpol-equipment-container {
    padding: 3rem;
    display: flex;
    gap: 56px;
    flex-wrap: wrap;
}

.werpol-equipment-tile {
    border-radius: 30px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.75), rgba(49, 39, 131, 0.75));
    padding: 2rem 3rem;
    -webkit-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    -moz-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    text-align: left;
    width: calc(100% - 6rem);
}

.werpol-equipment-tile-title {
    font-size: 25px;
    font-weight: 500;
    font-family: Montserrat;
    margin: 30px 0;
    text-align: left;
}

.werpol-equipment-tile-text {
    font-size: 18px;
    font-weight: regular;
    text-align: left;
    font-family: Montserrat;
    padding-bottom: 20px;
}

.werpol-equipment-tile-button {
    border-radius: 20px;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.5), rgba(49, 39, 131, 0.5));
    width: 232px;
    height: 83px;
    border: 0;
    margin-bottom: 40px;
    cursor: pointer;
    -webkit-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    -moz-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
}

.werpol-equipment-tile-button-text {
    text-align: left;
    font-size: 18px;
    color: #fff;
    font-family: Montserrat;
    padding: 30px 40px;
}

.werpol-implementations {
    display: flex;
    align-items: center;
}

.werpol-implementations-container {
    margin: 3rem;
}

.werpol-implementations-title {
    font-size: 30px;
    color: #312783;
    text-align: left;
}

.werpol-implementations-description {
    font-size: 24px;
    font-weight: 500;
    color: #1b1918;
    text-align: justify;
    margin-top: 25px;
}

.werpol-implementations-maps-container {
    display: flex;
    gap: 30px;
}

.werpol-implementations-map-title {
    font-weight: 500;
    color: #1b1918;
}

.werpol-implementations-map {
    flex-grow: 1;
}

.werpol-implementations-map iframe {
    width: 100% !important;
    height: 425px;
    border-radius: 30px;
    outline: 0;
    border: 0;
    -webkit-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    -moz-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
}

.werpol-images {
    display: flex;
    align-items: center;
}

.werpol-images-container {
    margin: 3rem;
}

.werpol-images-title {
    font-weight: 500;
    color: #1b1918;
    text-align: left;
}

.werpol-images-grid {
    display: flex;
    gap: 43px;
    flex-wrap: wrap;
    justify-content: center;
}

.werpol-images-image {
    border-radius: 30px;
    max-width: 400px;
    height: 420px;
    min-width: 30%;
    object-fit: cover;
    flex-grow: 1;
    -webkit-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    -moz-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
}

.werpol-movies {
    display: flex;
    align-items: center;
}

.werpol-movies-container {
    margin: 3rem;
    width: 100%;
}

.werpol-movies-title {
    font-weight: 500;
    color: #1b1918;
    text-align: left;
}

.werpol-movies-grid {
    display: flex;
    gap: 43px;
    flex-wrap: wrap;
}

.werpol-movies-movie {
    border-radius: 30px;
    height: 70vh;
    max-width: 1440px;
    min-width: 100%;
    width: 100vh;
    object-fit: cover;
    flex-grow: 1;
    -webkit-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    -moz-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
}

.werpol-footer {
    max-width: 100% !important;
}

.werpol-footer-container {
    display: flex;
    flex-direction: row;
    max-height: 80vh;
    max-width: 1440px;
    width: 100%;
}

.werpol-footer-column {
    width: calc(100% / 3);
    text-align: left;
    padding: 30px;
}

.werpol-footer-container-title {
    font-size: 25px;
    font-weight: bold;
}

.werpol-footer-container-subtitle {
    font-size: 20px;
    font-weight: bold;
}

.werpol-footer-container-name {
    font-size: 20px;
    font-weight: 600;
}

.werpol-footer-container-text {
    font-size: 20px;
    font-weight: regular;
}

.werpol-footer-container-text a {
    color: #fff;
    text-decoration: none;
}

.werpol-footer-container-text a:hover {
    color: #fff;
    text-decoration: underline;
}

.werpol-footer-text p {
    margin: 0;
}

.werpol-footer-container-image {
    height: 130px;
}

.werpol-footer-container-flag {
    display: inline-block;
    height: 15px;
    width: 23px;
}

.werpol-footer-container-flags {
    padding-left: 6px;
}

.werpol-footer-map {
    border-radius: 30px;
    -webkit-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    -moz-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
}

.werpol-references {
    display: flex;
    align-items: center;
}

.werpol-references-container {
    margin: 3rem;
}

.werpol-references-title {
    font-size: 30px;
    color: #312783;
    font-weight: bold;
    text-align: left;
}

.werpol-references-preview {
    display: flex;
    width: 100%;
    max-height: 70vh;
}

.werpol-references-preview-companies {
    width: 30%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    justify-content: flex-start;
    max-height: 100vh;
    outline: none;
}

.werpol-references-preview-company {
    max-width: 80%;
}

.werpol-references-preview-references {
     width: 70%;
}

.werpol-references-preview-references iframe {
    width: 100%;
    height: 100%;
}

.werpol-references-preview-companies a {
    cursor: pointer;
    padding: 10px;
    display: flex;
    justify-content: center;
}