html { scroll-behavior: smooth; }

body {
    width: 100%;
    margin: auto;
    line-height: normal;
}

:root {
    --breakpoint-sm: 400px;
}

body{
    font-family: Montserrat;
}

h1{
    font-size: 6em;
    font-size: calc(2em + 2vw);
    margin:0;
}

.section{
    color: #fff;
    text-align:center;
}

/* Backgrounds colors for sections */


.fp-section:nth-child(1) {
    background-image: url('/B6DEB181.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 80%;
}

.fp-section:nth-child(9) {
    background-image: url('/6E2FA7C7.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 80%;
}

body {
    width: 100%;
    margin: auto;
    line-height: normal;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.werpol-section {
    height: 100vh;
    width: 100%;
    max-width: 1440px;
}

.werpol-menu {
    max-width: 100%;
    height: 80px;
    text-align: center;
    font-size: 20px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.75), rgba(49, 39, 131, 0.75));
    display: flex;
    align-items: center;
    position: fixed;
    padding: 0 30px;
    top:0;
    left:0;
    z-index: 70;
    width: calc(100% - 60px);
}

@media (max-width: 600px) {
    .werpol-menu { 
        /* display: none; */
    }
}

.fp-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fp-slide {
    display: flex;
    align-items: center;
}

.werpol-menu-item {
    font-weight: 600;
    cursor: pointer;
    margin: 0 15px;
    height: 100%;
    display: flex;
    align-items: center;
}

.werpol-menu-item a {
    text-decoration: none;
    color: white !important;
}

.werpol-menu-logo {
    display: flex;
    margin-right: auto;
    width: 150px;
}

.werpol-carousel-container {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10rem;
}

.werpol-carousel {
    border-radius: 30px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.75), rgba(49, 39, 131, 0.75));
    max-width: 70vw;
    min-width: 30vw;
    padding: clamp(1rem, 10vw, 3rem);
    -webkit-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    -moz-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
}

.werpol-carousel-slide {
    font-weight: 500;
    font-size: clamp(18px, 8vw, 48px);
}

.werpol-carousel-slide-description {
    font-size: clamp(16px, 6vw, 38px);
}

.werpol-header {
    max-width: 100% !important;
}

.werpol-about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 clamp(1rem, 5vw, 2rem);
    padding-top: 120px;
}

.werpol-about {
    border-radius: 30px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgba(49, 39, 131, 0.9));
    font-size: 24px;
    font-weight: 500;
    text-align: right;
    padding: clamp(1rem, 4vw, 2rem);
    -webkit-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    -moz-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
}

.werpol-about-logo {
    height: 100%;
    /* width: 100%; */
    max-width: 100%;
    min-width: 10%;
    overflow: hidden;
    min-height: 100%;
    object-fit: cover;
    margin-right: 3rem;
    display: none;
}

@media (max-width: 1024px) {
    .werpol-about-logo { 
        display: none;
    }
}

.werpol-about-text {
    font-size: clamp(10px, 2.5vw, 20px);
    font-weight: 500;
    text-align: left;
}

.werpol-offer {
    display: flex;
}

.werpol-offer-container {
    margin: clamp(1rem, 2.5vw, 3rem);
    max-width: 1440px;
    margin-top: 100px;
}

.werpol-offer-title {
    font-size: clamp(14px, 2.5vw, 30px);
    color: #312783;
    font-weight: bold;
    text-align: left;
}

.werpol-offer-description {
    font-size: clamp(14px, 2.5vw, 24px);
    font-weight: 500;
    color: #1b1918;
    text-align: left;
    margin-top: clamp(14px, 2.5vw, 24px);
}

.werpol-offer-button-list {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(16px, 2.5vw, 46px);
}

.werpol-offer-button {
    border-radius: 20px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgba(49, 39, 131, 0.9));
    padding: clamp(6px, 2.5vw, 16px) clamp(10px, 3vw, 20px);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    -moz-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
}

.werpol-offer-button-text {
    text-align: left;
    font-size: clamp(12px, 2.5vw, 18px);
    color: #fff;
    font-family: Montserrat;
    padding: clamp(12px, 2.5vw, 20px) clamp(20px, 5vw, 40px);
}

.werpol-offer-tile-list {
    margin-top: clamp(30px, 10vw, 150px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: clamp(18px, 3vw, 56px);
}

.werpol-offer-tile {
    border-radius: 30px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.9), rgba(49, 39, 131, 0.9));
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    -webkit-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    -moz-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
}

.werpol-offer-tile-title {
    font-size: clamp(14px, 2.5vw, 25px);
    font-weight: 500;
    text-align: left;
    font-family: Montserrat;
    margin: clamp(16px, 2vw, 30px);
    text-align: center;
}

.werpol-offer-tile-description {
    text-align: left;
    font-size: clamp(12px, 2.5vw, 18px);
    margin: clamp(16px, 2vw, 30px);
}

.werpol-offer-tile-button {
    border-radius: 20px;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.5), rgba(49, 39, 131, 0.5));
    width: 232px;
    height: 83px;
    border: 0;
    margin-bottom: 40px;
    cursor: pointer;
}

.werpol-offer-tile-button-text {
    text-align: left;
    font-size: clamp(12px, 2.5vw, 18px);
    color: #fff;
    font-family: Montserrat;
    padding: 30px 40px;
}

.werpol-equipment {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.werpol-equipment-title {
    padding: clamp(1rem, 2.5vw, 3rem);
    font-size: clamp(16px, 2vw, 30px);
    color: #312783;
    text-align: left;
}

.werpol-equipment-tile-background {
    background-image: url('/B6DEB182.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 80%;
}

.werpol-equipment-container {
    padding: clamp(16px, 2vw, 30px);
    display: flex;
    gap: clamp(18px, 3vw, 56px);
    flex-wrap: wrap;
}

.werpol-equipment-tile {
    border-radius: 30px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.75), rgba(49, 39, 131, 0.75));
    padding: clamp(12px, 2.5vw, 20px) clamp(20px, 5vw, 40px);
    -webkit-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    -moz-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    text-align: left;
    width: calc(100vw - 6rem);
}

.werpol-equipment-tile-title {
    font-size: clamp(14px, 2.5vw, 25px);
    font-weight: 500;
    font-family: Montserrat;
    margin: 30px 0;
    text-align: left;
}

.werpol-equipment-tile-text {
    font-size: clamp(12px, 2.5vw, 18px);
    font-weight: regular;
    text-align: left;
    font-family: Montserrat;
    padding-bottom: 20px;
}

.werpol-equipment-tile-img {
    max-width: 100%;
}

.werpol-equipment-tile-button {
    border-radius: 20px;
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.5), rgba(49, 39, 131, 0.5));
    width: 232px;
    height: 83px;
    border: 0;
    margin-bottom: 40px;
    cursor: pointer;
    -webkit-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    -moz-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
}

.werpol-equipment-tile-button-text {
    text-align: left;
    font-size: 18px;
    color: #fff;
    font-family: Montserrat;
    padding: 30px 40px;
}

.werpol-implementations {
    display: flex;
    padding-top: 100px;
    max-height: calc(100vh - 100px);
}

.werpol-implementations-container {
    margin: clamp(20px, 5vw, 40px);
}

.werpol-implementations-title {
    font-size: clamp(16px, 2vw, 30px);
    color: #312783;
    text-align: left;
}

.werpol-implementations-description {
    font-size: clamp(14px, 2.5vw, 25px);
    font-weight: 500;
    color: #1b1918;
    text-align: justify;
    margin-top: clamp(14px, 2.5vw, 25px);
}

.werpol-implementations-maps-container {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(16px, 2vw, 30px);
}

.werpol-implementations-map-title {
    font-size: clamp(14px, 2.5vw, 25px);
    font-weight: 500;
    color: #1b1918;
}

.werpol-implementations-map {
    flex-grow: 1;
}

.werpol-implementations-map iframe {
    width: 100% !important;
    height: 425px;
    border-radius: 30px;
    outline: 0;
    border: 0;
    -webkit-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    -moz-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
}

.werpol-images {
    display: flex;
    padding-top: 100px;
    max-height: calc(100vh - 100px);
}

.werpol-images-container {
    margin: clamp(20px, 5vw, 40px);
}

.werpol-images-title {
    font-size: clamp(14px, 2.5vw, 25px);
    font-weight: 500;
    color: #1b1918;
    text-align: left;
}

.werpol-images-grid {
    display: flex;
    gap: clamp(22px, 5vw, 44px);
    flex-wrap: wrap;
    justify-content: center;
}

.werpol-images-image {
    border-radius: 30px;
    max-width: 400px;
    min-width: 30%;
    object-fit: cover;
    flex-grow: 1;
    -webkit-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    -moz-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
}

.werpol-images-image img {
    max-width: calc(100vw - 2rem);
    height: 100%;
    width: 100%;
}

.werpol-movies {
    display: flex;
    padding-top: 100px;
    height: calc(100vh - 100px);
}

.werpol-movies-container {
    width: 100%;
}

.werpol-movies-title {
    font-size: clamp(14px, 2.5vw, 25px);
    font-weight: 500;
    color: #1b1918;
    text-align: left;
}

.werpol-movies-grid {
    display: flex;
    gap: clamp(22px, 5vw, 43px);
    flex-wrap: wrap;
}

.werpol-movies-movie {
    border-radius: 30px;
    min-height: 68vh;
    max-width: calc(100vw - 2rem);
    width: min(calc(100vw - 5rem), calc(1440px - 5rem));
    object-fit: cover;
    flex-grow: 1;
    -webkit-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    -moz-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
}

.werpol-footer {
    max-width: 100% !important;
    padding-top: 150px;
    max-height: calc(100vh - 150px);
}

.werpol-footer .werpol-carousel-container {
    align-items: start;
    padding: 0 2rem;
}

.werpol-footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1440px;
    width: 100%;
    
}

.werpol-footer-column {
    text-align: left;
    padding: clamp(12px, 2.5vw, 24px);
    max-width: calc(100vw - 2rem);
    width: 28%;
    min-width: 200px;
}

.werpol-footer-container-title {
    font-size: clamp(14px, 2.5vw, 25px);
    font-weight: bold;
}

.werpol-footer-container-subtitle {
    font-size: clamp(12px, 2.5vw, 20px);
    font-weight: bold;
}

.werpol-footer-container-name {
    font-size: clamp(12px, 2.5vw, 20px);
    font-weight: 600;
}

.werpol-footer-container-text {
    font-size: clamp(12px, 2.5vw, 20px);
    font-weight: regular;
}

.werpol-footer-container-text a {
    color: #fff;
    text-decoration: none;
}

.werpol-footer-container-text a:hover {
    color: #fff;
    text-decoration: underline;
}

.werpol-footer-text p {
    margin: 0;
}

.werpol-footer-container-image {
    height: clamp(60px, 10vw, 130px);
}

.werpol-footer-container-flag {
    display: inline-block;
    height: clamp(10px, 2.5vw, 15px);
    width: clamp(13px, 2.5vw, 23px);
}

.werpol-footer-container-flags {
    padding-left: 6px;
}

.werpol-footer-map {
    border-radius: 30px;
    -webkit-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    -moz-box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    box-shadow: 9px 12px 21px -12px rgba(66, 68, 90, 1);
    max-width: min(100%, calc(100vw - 2rem));
}

.werpol-references {
    display: flex;
    padding-top: 100px;
    max-height: calc(100vh - 100px);
}

.werpol-references-container {
    margin: clamp(20px, 5vw, 40px);
}

.werpol-references-title {
    font-size: 30px;
    color: #312783;
    font-weight: bold;
    text-align: left;
}

.werpol-references-preview {
    display: flex;
    width: 100%;
    max-height: 70vh;
}

.werpol-references-preview-companies {
    width: 30%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    justify-content: flex-start;
    max-height: 100vh;
    outline: none;
}

.werpol-references-preview-company {
    max-width: 80%;
}

.werpol-references-preview-references {
     width: 70%;
}

.werpol-references-preview-references img {
    max-width: 100%;
}

.werpol-references-preview-references iframe {
    width: 100%;
    height: 100%;
}

.werpol-references-preview-companies a {
    cursor: pointer;
    padding: 10px;
    display: flex;
    justify-content: center;
}